n8n/meteomap-summary-workflow.json
{
  "name": "MeteoMapGal — Resumen Diario",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meteomap-summary",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-summary",
      "name": "Webhook Resumen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body || $input.first().json;\nconst risk = d.risk || {};\nconst sailing = d.sailing;\n\nlet msg = '🌊 *Resumen diario — ' + (d.sector || 'MeteoMapGal') + '*\\n';\n\nconst date = new Date(d.timestamp || Date.now());\nconst days = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nconst months = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nmsg += '📅 ' + days[date.getDay()] + ' ' + date.getDate() + ' de ' + months[date.getMonth()] + '\\n\\n';\n\n// Risk level\nconst riskEmoji = risk.severity === 'critical' ? '🔴' : risk.severity === 'high' ? '🟠' : risk.severity === 'moderate' ? '🟡' : '🟢';\nmsg += riskEmoji + ' Riesgo: ' + (risk.severity || 'low').toUpperCase() + ' (' + (risk.score || 0) + '/100)\\n';\n\nif ((risk.activeCount || 0) > 0) {\n  msg += '⚠️ ' + risk.activeCount + ' alerta(s) activa(s)\\n';\n}\n\n// Alerts\nif (d.alerts && d.alerts.length > 0) {\n  msg += '\\n*Alertas:*\\n';\n  for (const a of d.alerts) {\n    msg += '• ' + a.title + '\\n';\n  }\n}\n\n// Best sailing window\nif (sailing) {\n  const startH = new Date(sailing.start);\n  const endH = new Date(sailing.end);\n  const fmt = (dt) => dt.getHours().toString().padStart(2,'0') + ':' + dt.getMinutes().toString().padStart(2,'0');\n  msg += '\\n⛵ *Mejor ventana:* ' + sailing.spot + '\\n';\n  msg += '🕐 ' + fmt(startH) + ' — ' + fmt(endH) + '\\n';\n  msg += '💨 ' + sailing.avgWindKt + 'kt · ' + sailing.verdict.toUpperCase() + '\\n';\n} else {\n  msg += '\\n⛵ Sin ventana de navegación clara hoy\\n';\n}\n\nmsg += '\\n_meteomapgal.navia3d.com_';\n\nreturn [{ json: { text: msg, chatId: '160912482' } }];"
      },
      "id": "code-format",
      "name": "Formatear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-send",
      "name": "Telegram Resumen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [750, 300],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_CON_TU_CREDENTIAL_ID",
          "name": "MeteoMapGal Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook Resumen": {
      "main": [
        [{ "node": "Formatear Mensaje", "type": "main", "index": 0 }]
      ]
    },
    "Formatear Mensaje": {
      "main": [
        [{ "node": "Telegram Resumen", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "MeteoMapGal" }]
}
